<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Quiz-Juego_Preguntas</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="page-wrap">
      <header class="main" id="h1">
        <img src="http://aqrateinfotech.com/Quizz/image/quiz.png" alt="logo_quiz">
        <h2>El juego de las preguntas</h2>
      </header>
      <nav class="main" id="n1" role="navigation">
        <span><a href="/"><img class="icon icons8-Home" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAACHklEQVRIS2NkoDFgpLH5DCRZsF1aOgHkIM+nTxcQ6zCiLQAbzsg4H2zw//+JxFpClAVAwxcADY8X9gkEm/92y3qgHf8neD19WgjiHz35soGBieE/EwPTQUtT0QPIviNoAbLhck2dYL2P6srBlgBtWQD0SeLRUy//Q3zG0GhtLt5AtAUww0Uj4xhkSmtQgv1JdwvD6+WLwJbwrT8HjhuiLdgvICDwQ1BoCcPvX97yDe0MQn7BWOP03aa1DA8bKhlYzBwYOHPqGRi5+Qj7AGT4d16+Q4z//+kiG37s9ksGEAYBK1VxMAYBmCVMCmoMXGU9nbZ+RhU4gwiX4SANPdsuM/RuvwTWW+ypx1DipQs3B2YJo5DoK/ZH99UdP3z4AJOER/J2CQmF/6xsm5g5OLTU5i1j5lTXQgkWfBaAFH6/eY3hZlLUv38/flxl/P3Lz/PFiwcgcbgF22RkDjBxctmqz1vGhG44SCEkiF5Bg0gMHkTIrgBZcisp6u/f79+OeD154oBiwS5paQPVFRvPYzMcawzjEARZcjvC39Dt6dMLKBaAOC9efYOkZwqBhBgXPGRQMhouCz5EymO1UmD5Q6zioxYwsHJwMfz+8Y2BZkEkoqzO8ObuTdItuHj5zYH/jMAiCw1w5GuC0zQMwHzwY+L1A9hi2UBHxBEmjpKK4MUumi7hSh2sqeVt+xWs4tZm4tiTKc0toDB/YdVOsEaj1FIA8BD4GY24ZroAAAAASUVORK5CYII=" width="24" height="24"></a></span>
        <span><a href="/quizes/questions"><img class="icon icons8-Questions" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABO0lEQVRIS2NkoDFgpLH5DDgtmHDq539ClrMyMzD8/suwoMCMPRGXWoos0BRjYvj2i4Hh4Yd/OC3BsMBp6Vewy/1UWQh5gAFkgYYoM8O5p39xWkIVC0AuwWUJRRaIcjMyiAAxDNx5+48h25gdxUyKLMAWhsAIJ9+Cj19/M1x++Alsrq48HwM/NyuGHWRbADJ8/p4HDHKiXGBDH73+xpDoooBhCUUWXH74kcFGSwRsQeeamwxeJhIMugr8KL4g2wJkU87cfs+w9+IrhgxPJer5AGbBo1ffGJYfeozV9SA1FPtg6+kXDD+B5UOQlTTWjEixBS8//GTgYGXCmoKo4oO9F14CDWdjMFEVpI0PLj/4yMDPxcogJwZJruiA4iAiVAKOIAsIBQW6/L5opGIVSRJnaUozC0g1mJB6mrcqALXsnRnatXudAAAAAElFTkSuQmCC" width="24" height="24"></a></span>
        <br>
      </nav>
      <section class="main" id="s1">
        <%- body %>
      </section>
      <footer class="main" id="f1">
        <a href="http://es.wikipedia.org/wiki/Quiz">¿Que es un Quiz?</a>
      </footer>
    </div>
  </body>
</html>